<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  
 <connectionStrings>
    <add name="dbms" connectionString="Data Source=52.66.162.36;Initial Catalog=zydus_camps; Persist Security Info=True;User ID=admin;Password=AwsDatabase" />
  </connectionStrings>

<system.web.extensions>
       <scripting>
           <webServices>
               <jsonSerialization maxJsonLength="2100000000"/>
			   
           </webServices>
       </scripting>
   </system.web.extensions>   

</configuration>
